CudaSetup/temp/
libtorch/src/*

loaders/exllama/repo/*
loaders/exllama/build/*

loaders/autogptq/repo/*
loaders/autogptq/build/*

loaders/gotorch/build/


loaders/out/*

loaders/bridge/repo/*
loaders/bridge/build/*
loaders/bridge/grpc/